@model Tuple<List<AprioriResultVM>,List<AprioriResultVM>>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<main>

    <section id="section-14">
        <div class="divider"></div>
    </section>
    @if (Model != null)
    {
        <div class="w-100">
            <div class="container">

                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-4">
                                <label>Support</label>
                                <input class="form-control" name="support" placeholder="support" value="@ViewBag.support">
                            </div>
                            <div class="col-4">
                                <label>Confidance</label>
                                <input class="form-control" name="confidance" placeholder="confidance" value="@ViewBag.confidance">
                            </div>
                            <div class="col-4 mt-3">
                                <button class="btn btn-primary">submit</button>
                            </div>
                        </div>

                    </form>
                </div>

                <h1>سفارشات موفق</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rule</th>
                            <th scope="col">Confidance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item1)
                        {
                            <tr>
                                <td>@item.rule</td>
                                <td>@item.Confidence.ToString("0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr>
                <h1>سفارشات نا موفق</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>@item.rule</td>
                                <td>@item.Confidence.ToString("0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }
</main>
